<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Laravel Firebird Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".blade.php">./src/</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="memory_limit" value="2048M" />
        <!--
        <env name="DB_HOST" value="localhost" />
        <env name="DB_PORT" value="3050" />
        <env name="DB_DATABASE" value="/firebird/data/database.fdb" />
        <env name="DB_USERNAME" value="sysdba" />
        <env name="DB_PASSWORD" value="masterkey" />
        <env name="DB_CHARSET" value="UTF8" />
        -->
    </php>
</phpunit>